body{
    background-color: rgb(0, 0, 0);
}

#newToDoApp{
    display: flex;
    margin: 0 auto;

}

.AddToDo-field{
    position: relative;
    background-color: azure;
    width: 390px;
    min-height:600px;
    border-radius: 20px;
  
}

.all-lyout{
    position: relative;
    background-color: azure;
    width: 390px;
    min-height:600px;
    border-radius: 20px;
  
}

.third-container{
    position: relative;
    background-color: azure;
    width: 390px;
    min-height:650px;
    border-radius: 20px;
    z-index: 998;
    display: none;
} 
.third-container.active{

}

.EndInput{
    margin-bottom: 15px;
}

#ToDo-container{
  
}

.ToDoInfo{
    display: flex;
    /* justify-content: space-between; */
    width: 90%;
    margin: 0 auto;
    margin-bottom: 10px;
}
.TaskBox{
    width: 50%;
    word-wrap: break-word;
    white-space: normal;
}
.DeadLineBox{
    width: 30%;
}
.CompletedBox{
    width: 20%;
}

.first-container{
    background-color: azure;
    width: 390px;
    border-radius: 20px;
    left: 0; 
   
}

#todo{
   margin-left: 30px;;
}
#Tasktxt{
    width: 85%;
}

input{
    all: unset;
    padding: 5px;
    border-radius: 12px;
    border: 2px solid transparent;
    box-shadow: 0px 2px 2px 2px rgba(0,0,0,0.3);
    transition: border 0.3s ease-in-out;
    margin-bottom: 10px;
}
input:focus{
    border-color: rgb(132, 0, 255);
}

.delete-btn{
    all: unset; 
    padding: 4px;
    border-radius: 12px;
    border: 2px solid transparent;
    box-shadow: 0px 2px 2px 2px rgba(0,0,0,0.3);
    transition: border 0.3s ease-in-out;
    color: black;
    margin-left: 20px;
}
.delete-btn:hover{
    box-shadow: 0px 2px 2px 2px rgba(7, 7, 7, 0.3);
}
#addListButton:hover{
    box-shadow: 0px 2px 2px 2px rgba(82, 82, 82, 0.3);
}

select{
    height: 40px; 
    padding: 5px;
    border-radius: 12px;
    border: 2px solid transparent;
    box-shadow: 0px 2px 2px 2px rgba(0,0,0,0.3);
}
select:hover{
    box-shadow: 0px 2px 2px 2px rgba(82, 82, 82, 0.3);
}

#addButton,#addListButton{
    font-size: 9px;
    all: unset;
    padding: 5px;
    border-radius: 12px;
    border: 2px solid transparent;
    box-shadow: 0px 2px 2px 2px rgba(0,0,0,0.3);
}
#addButton:hover{
    box-shadow: 0px 2px 2px 2px rgba(82, 82, 82, 0.3);
}

#ToDo-container{
    width: 100%;
    min-height: 450px;
    max-height: 450px;
    overflow-y: auto;
  
}

.todo-contents{
    background: rgb(225, 225, 225);
    width: 90%;
    min-height: 400px;
    max-height: 400px;
    border-radius: 20px;
    margin: 0 auto;
    margin-top: 20px;
    overflow-y: auto;
    padding-left: 20px;
}

/* ハンバーガーメニュー */
.humburger-container{
    position: relative;
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding-top:10px;
    padding-bottom: 20px;
}

.humburger-menu{
    position: absolute;
    left: 0;
    padding-left:30px;
    margin: 0 auto;
    z-index: 1000;
}
#humburger-menu.active span:nth-child(1){
    transform: rotate(45deg) translateY(8px);
    transition: transform 0.4s;
    padding-left:10px;
    background-color: rgb(225, 225, 225);
   
}
#humburger-menu.active span:nth-child(2){
    opacity: 0;
    transition: transform 0.4s;
}
#humburger-menu.active span:nth-child(3){
    transform: rotate(-45deg) translateY(-7px);
    transition: transform 0.4s;
    padding-left:10px;
    background-color: rgb(225, 225, 225);
    
}

.humburger-menu span{
    display: block;
    width: 20px;
    height: 1px;
    background-color: rgb(0, 0, 0);
    margin-bottom: 4px;
    transition: transform 0.4s;
}

.title{
    display: flex;
    width: 90%;
    font-weight: bold;
    font-size: 28px;
    justify-content: center;
    align-items: center;
    padding-right:10px;
}

.second-container{
    position: relative;
    background-color: rgb(242, 242, 242);
    width: 390px;
    min-height:650px;
    border-radius: 20px;
    left: -400px;
    transition: transform 0.4s ease;
    transform: translateX(-100%);
  
}
.second-container.active{
    position: relative;
    width: 390px;
    min-height:650px;
    left: -390px;
    transform: translateX(0);
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 20px;
    overflow-y: auto;
}

.CreateNewList{
    /* position: absolute; */
    position: fixed;
    bottom: 0;
    margin-bottom: 70px;
    margin-left: 20px;
}
.createList{
    padding: 15px 155px 35px 175px;
    border: none;
    position: absolute;
    border: 2px solid transparent;
    box-shadow: 0px 2px 2px 2px rgba(0,0,0,0.3);
    border-radius: 20px;
}
.createList:hover{
    color: blueviolet;
    box-shadow: 0px 2px 2px 2px rgba(82, 82, 82, 0.3);
}

.createtxt{
    position: absolute;
    left: 0;
    margin-left: 20px;
}
.arrow{
    position: absolute;
    right: 0;
    margin-right: 20px;
}
#CreateForm{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    min-height:650px;
    width: 100%;
    border-radius: 20px;
    display: none;
    z-index: 998;

}

.white{
    display: flex;
    margin: 0 auto;
    align-items: center;
    background-color: rgb(239, 239, 239);
    width: 300px;
    height: 200px;
    border-radius: 20px;
    margin-top: 200px;
    position: relative;
}

.TitleInput{
    margin-left: 30px;
    margin-bottom: 70px;
}
.TitleInput label{
    font-weight: bold;
}

.decolate{
    all: unset;
    padding: 3px;
    border-radius: 12px;
    border: 2px solid transparent;
    box-shadow: 0px 2px 2px 2px rgba(0,0,0,0.3);
    transition: border 0.3s ease-in-out;
    margin-top: 30px; 
}
.decolate:hover{
    box-shadow: 0px 2px 2px 2px rgba(82, 82, 82, 0.3);
    color: rgb(132, 0, 255);
}
.put-right-bottom{
    position: absolute;
    right: 0;
    bottom: 0;
    margin-right: 10px;
    margin-bottom: 10px;
}

.createdname{
    width: 300px;
    height: 50px;
    background-color: rgb(204, 204, 204);
    border-radius: 20px;
    display: block;
}
.displaybutton{
    background-color: rgb(204, 204, 204);
    border-radius: 100px;
}
.addlistbutton{
    background-color: rgb(204, 204, 204);
    border-radius: 100px;
}

.Addfield{
    display: flex;
    flex-direction: column;
    z-index: 997;
    margin: 0 auto;
    max-height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
}
.Addfield button:hover{
    background-color: aliceblue;
}

.buttonContainer{
    margin: 0 auto;
    display: flex;
}

/* 三ページ目 */
.second-container{
    display: flex;
    align-items: center;
    position: relative;
}

.back-border{
    padding-top: 10px;
    padding-left: 20px;
    width: 10%;
}

.all-lyout span{
    display: block;
    width: 18px;
    height: 3px;
    background-color: rgb(0, 0, 0);
    margin-bottom: 4px;
}

.BackButton{
    width:  30%;
    height: 50px;
    font-size: 20px;
    border: none;
    border-radius: 20px;
    text-align: start;
    
}
.BackButton:hover{
    color: blueviolet;
}

.back a:hover{
    color: rgb(255, 0, 0);
}

.Add-List-Name{
    position: absolute;
    right: 45%;
    top: 50%;
    padding-top: 10px;
}
@media (max-width: 600px) {
  .second-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 998;
    overflow-y: auto;
    transform: translateX(0);
  }
}
